# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [19]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

         age gender  occupation zip_code
user_id
1         24      F  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [20]:
users.groupby('occupation').age.mean()

occupation
other         43
technician    24
writer        23
Name: age, dtype: int64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [21]:
# create a function
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0

# apply the function to the gender column and create a new column
users['gender_n'] = users['gender'].apply(gender_to_numeric)


a = users.groupby('occupation').gender_n.sum() / users.occupation.value_counts() * 100 

# sort to the most male 
a.sort_values(ascending = False)

occupation
writer        100.0
technician     50.0
other           0.0
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [22]:
users.groupby('occupation').age.agg(['min', 'max'])

            min  max
occupation
other        33   53
technician   24   24
writer       23   23

### Step 7. For each combination of occupation and gender, calculate the mean age

In [23]:
users.groupby(['occupation', 'gender']).age.mean()

occupation  gender
other       F         43
technician  F         24
            M         24
writer      M         23
Name: age, dtype: int64

### Step 8.  For each occupation present the percentage of women and men

In [24]:
# create a data frame and apply count to gender
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

# create a DataFrame and apply count for each occupation
occup_count = users.groupby(['occupation']).agg('count')

# divide the gender_ocup per the occup_count and multiply per 100
occup_gender = gender_ocup.div(occup_count, level = "occupation") * 100

# present all rows from the 'gender column'
occup_gender.loc[: , 'gender']

occupation  gender
other       F         100.0
technician  F          50.0
            M          50.0
writer      M         100.0
Name: gender, dtype: float64