# US CENSUS DATA

We will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US.

## Import necessary packages

In [3]:
import pandas as pd
import numpy as np

## Load the us_census.csv and assign it a varibale df_census

In [5]:
df_census = pd.read_csv("us_census.csv")
#show the first 7 rows of the DataFrame
df_census.head(7)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2011,BIRTHS2010,DEATHS2010
0,40,3,6,1,0,Alabama,Alabama,4779736,4801108,14226,11089
1,50,3,6,1,1,Alabama,Autauga County,54571,55253,151,152
2,50,3,6,1,3,Alabama,Baldwin County,182265,186659,517,532
3,50,3,6,1,5,Alabama,Barbour County,27457,27226,70,128
4,50,3,6,1,7,Alabama,Bibb County,22915,22733,44,34
5,50,3,6,1,9,Alabama,Blount County,57322,57711,183,133
6,50,3,6,1,11,Alabama,Bullock County,10914,10629,39,52

## What are the number of entries in the DataFrame

In [6]:
print(len(df_census)) #Output: 3193

3193

In [12]:
#also note the use shape function
# df_census.shape is a two-value table
#first value is the number of records
# second value is the number of fields(columns)
rows, cols = df_census.shape
print("Number of rows:",rows) # Output: 3193
print("Number of columns:",cols) # Output: 11

Number of rows: 3193
Number of columns: 11

## Show information about the columns

In [17]:
df_census.info()
# This is a very informative function. Check it out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 11 columns):
SUMLEV             3193 non-null int64
REGION             3193 non-null int64
DIVISION           3193 non-null int64
STATE              3193 non-null int64
COUNTY             3193 non-null int64
STNAME             3193 non-null object
CTYNAME            3193 non-null object
CENSUS2010POP      3193 non-null int64
POPESTIMATE2011    3193 non-null int64
BIRTHS2010         3193 non-null int64
DEATHS2010         3193 non-null int64
dtypes: int64(9), object(2)
memory usage: 274.5+ KB

In [22]:
# if you only need to know the information about the data types
print(df_census.dtypes)

SUMLEV              int64
REGION              int64
DIVISION            int64
STATE               int64
COUNTY              int64
STNAME             object
CTYNAME            object
CENSUS2010POP       int64
POPESTIMATE2011     int64
BIRTHS2010          int64
DEATHS2010          int64
dtype: object

In [23]:
#Print all the columns. You can also turn this into a list by using list()
# function
print(df_census.columns)

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'POPESTIMATE2011', 'BIRTHS2010', 'DEATHS2010'],
      dtype='object')

## Read the description file

In [29]:
with open("readme.txt") as fp:
    for line in fp:
        # print line and strip "\n" so that the line won't
        # have extra large spacing
        print(line.rstrip())

CO-EST2015-alldata: Annual Resident Population Estimates, Estimated Components of Resident Population Change, and Rates of the Components of Resident Population Change for States and Counties: April 1, 2010 to July 1, 2015

File: 7/1/2015 County Population Estimates


Source: U.S. Census Bureau, Population Division Release

Date: March 2016Sort order of observations: Counties within State in FIPS code sort Data fields (in order of appearance):


VARIABLE AND DESCRIPTIONS

SUMLEV Geographic summary level
REGION Census Region code
DIVISION Census Division code
STATE State FIPS code
COUNTY County FIPS code
STNAME  State name
CTYNAME County name
CENSUS2010POP 4/1/2010 resident total Census 2010 population
POPESTIMATE2011 7/1/2011 resident total population estimate
BIRTHS2010  Births in period 4/1/2010 to 6/30/2010
DEATHS2010  Deaths in period 4/1/2010 to 6/30/2010


X = Not Applicable

The key for SUMLEV is as follows:
040 = State and/or Statistical Equivalent
050 = County and /or Statistical Equivalent

The key for REGION is as follows:
1 = Northeast
2 = Midwest
3 = South
4 = West

The key for DIVISION is as follows:
1 = New England
2 = Middle Atlantic
3 = East North Central
4 = West North Central
5 = South Atlantic
6 = East South Central
7 = West South Central
8 = Mountain
9 = Pacific

## Display the states of US, How many states are they?

From the description above, note that states of US are SUMLEV==040.

In [36]:
# filter df_census to show only the states of US, that is SUMLEV=40 
# Note that 040=40 in Python
states_stats = df_census[df_census["SUMLEV"]==40]
# from the states' statistic we can now show the state column, STNAME
states = states_stats["STNAME"]
states

0                    Alabama
68                    Alaska
98                   Arizona
114                 Arkansas
190               California
249                 Colorado
314              Connecticut
323                 Delaware
327     District of Columbia
329                  Florida
397                  Georgia
557                   Hawaii
563                    Idaho
608                 Illinois
711                  Indiana
804                     Iowa
904                   Kansas
1010                Kentucky
1131               Louisiana
1196                   Maine
1213                Maryland
1238           Massachusetts
1253                Michigan
1337               Minnesota
1425             Mississippi
1508                Missouri
1624                 Montana
1681                Nebraska
1775                  Nevada
1793           New Hampshire
1804              New Jersey
1826              New Mexico
1860                New York
1923          North Carolina
2024            North Dakota
2078                    Ohio
2167                Oklahoma
2245                  Oregon
2282            Pennsylvania
2350            Rhode Island
2356          South Carolina
2403            South Dakota
2470               Tennessee
2566                   Texas
2821                    Utah
2851                 Vermont
2866                Virginia
3000              Washington
3040           West Virginia
3096               Wisconsin
3169                 Wyoming
Name: STNAME, dtype: object

In [37]:
# How many are they?
len(states) # 51

51

## Which state has the highest population? (Use column CENSUS2010POP)

In [43]:
#first of all lets get the highest population using in-built max function
largest= max(states_stats["CENSUS2010POP"]) #Output 37253956
print(largest)

37253956

In [46]:
# lets now filter the STNAME column to show the state with the largest value above
entry = states_stats[states_stats["CENSUS2010POP"] == largest]
entry

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2011,BIRTHS2010,DEATHS2010
190,40,4,9,6,0,California,California,37253956,37700034,123324,57284

In [53]:
#lets get the state name 
print(entry["STNAME"]) #California

190    California
Name: STNAME, dtype: object

In [55]:
# More compactly
entry = states_stats[states_stats["CENSUS2010POP"] \
                     == max(states_stats["CENSUS2010POP"])]
entry

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2011,BIRTHS2010,DEATHS2010
190,40,4,9,6,0,California,California,37253956,37700034,123324,57284

## How many counties in each state?

In [84]:
# Filter out the get only the counties
counties_stats = df_census[df_census["SUMLEV"]==50]
#create a count column to count after grouping states by counties
counties_stats["count"]=0
# Group the counties by state
counties_count = counties_stats.groupby(by="STNAME").count()["count"]
counties_count

/home/kiprono/.local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

STNAME
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: count, dtype: int64

## Which county has the largest Birst-Death difference

In [101]:
# Has usual we need SUMLEV==50
county_stats = df_census[df_census["SUMLEV"]==50]
#get the absolue difference and assign it to new column diff
county_stats["diff"] = abs(county_stats["BIRTHS2010"] - county_stats["DEATHS2010"])
county_stats[county_stats["diff"] == max(county_stats["diff"] )] #Los Angeles County

/home/kiprono/.local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2011,BIRTHS2010,DEATHS2010,diff
209,50,4,9,6,37,California,Los Angeles County,9818605,9896602,31740,13814,17926