## Description

In this note book we are evaluationg different methods of doing different things based on the execution time

## Import necessary package

In [1]:
import pandas as pd
import numpy as np

In [2]:
col1= np.random.randint(-1000,1000,15000)

In [3]:
data = {
    "col1" : col1,
}

In [5]:
df = pd.DataFrame(data)
df.head(5)

   col1
0   607
1   817
2   728
3  -614
4   374

In [6]:
%%timeit 5
for i in range(len(df)):
    df.at[i,"multiply_at"] = 153*df.at[i,"col1"]

113 ms ± 1.53 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
%%timeit 5
df['multiply_direct'] = 153 * df["col1"]

243 µs ± 4.36 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
%%timeit 5
func_multiply = lambda x,y :x*y
df["multiply_lambda"] = func_multiply(153,df["col1"])

249 µs ± 8.09 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [10]:
%%timeit 5
def multiply(row):
    data = row[["col1"]]
    return pd.Series({'multiply_apply': 153*data})

df.apply(multiply,axis=1)

10.5 s ± 129 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
%%timeit 5
df['multiply_apply2'] = df.col1.apply(lambda x: 153*x)

3.23 ms ± 49.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)